@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@400;700&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #333;
    color: #fff;
    height: 100vh;
}

header {
    font-family: 'Roboto Mono', monospace;
    background: #333;
    height: 4rem;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    padding: .6rem;
}

main{

}

form{
    font-family: 'Roboto Mono', monospace;
    position: sticky;
    top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0;
    border-bottom: 1px solid #666;
    /* background: #333; */
}

label > input {
    margin: .4rem;
    height: 1.4rem;
}

.input{
    margin: .4rem;
}

@media screen and (max-width: 600px) {
    .input {
        display: flex;
        flex-direction: column;
        margin: .4rem 1rem;
    }
}

.addBtn {
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    background: #33ffff;
    border-radius: .6rem;
    height: 2.6rem;
    padding: .4rem 1rem;

}

#bookShelfHeading {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1.5fr 1fr;
    margin: .6rem 1rem;
    justify-content: center;
}

#bookShelf {
    margin-top: 4.4rem;
    padding-bottom: 2.4rem;
    height: 100%;
}

.book {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1.5fr 1fr;
    margin: .6rem 1rem;
    padding: .2rem;
    border-bottom: 1px solid #666;
}


footer {
    height: 2rem;
    text-align: center;
    padding: .4rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #333;
    color: #fff;
}